# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Editors/IDE configs
.vscode/
.idea/

# Environment variables / secrets
.env
